<div class="account-pages my-5 pt-sm-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card overflow-hidden">
                    <div class="bg-primary bg-soft">
                        <div class="row">
                            <div class="col-7">
                                <div class="text-primary p-4">
                                    <h5 class="text-primary">Welcome Back !</h5>
                                    <p>Sign in to continue to Skote.</p>
                                </div>
                            </div>
                            <div class="col-5 align-self-end">
                                <img src="assets/images/profile-img.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <div class="auth-logo">
                            <a href="index.html" class="auth-logo-light">
                                <div class="avatar-md profile-user-wid mb-4">
                                    <span class="avatar-title rounded-circle bg-light">
                                        <img src="assets/images/logo-light.svg" alt="" class="rounded-circle" height="34">
                                    </span>
                                </div>
                            </a>

                            <a href="index.html" class="auth-logo-dark">
                                <div class="avatar-md profile-user-wid mb-4">
                                    <span class="avatar-title rounded-circle bg-light">
                                        <img src="assets/images/logo.svg" alt="" class="rounded-circle" height="34">
                                    </span>
                                </div>
                            </a>
                        </div>
                        <div class="p-2">
                            <form [formGroup]="resetPassword" class="form-horizontal" >
                                <div class="mb-3">
                                    <label for="username" class="form-label">Enter New Password</label>
                                    <input type="password" class="form-control" id="username" placeholder="Enter New Password" formControlName="password" [ngClass]="{ 'is-invalid': (submitted && form.password.errors)||(form.password.touched && form.password.errors) }">
                                    <div *ngIf="submitted||(form.password.touched && form.password.invalid)">
                                        <small class="form-text error-message" *ngIf="form.password.errors?.required">Password is required.</small>
                                        <small class="form-text error-message" *ngIf="form.password.errors?.passwordStrength">{{form.password.errors?.passwordStrength}}</small>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Confirm Password</label>
                                        <input type="password" class="form-control" placeholder="Enter password" formControlName="confirm_password" [ngClass]="{ 'is-invalid': (submitted && form.confirm_password.errors)||(form.confirm_password.touched && form.confirm_password.errors) }">
                                        <div *ngIf="submitted||(form.confirm_password.touched && form.confirm_password.invalid)">
                                            <small class="form-text error-message" *ngIf="form.confirm_password.errors?.required">confirm  Password is required.</small>
                                            <small class="form-text error-message" *ngIf="form.confirm_password.errors?.confirmedValidator">Password and Confirm Password must be match.</small>
                                          
                                        </div>
                                   
                                </div>
                                <div class="mt-3 d-grid">
                                    <button class="btn btn-primary waves-effect waves-light" type="submit" (click)="setPassword()" [disabled] = 'resetPassword.invalid'>Save</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(253,254,255,0.8)" size="medium" color="#0c62db" type="ball-clip-rotate-pulse"
  [fullScreen]="true">
  <p style="color: #007bff"> Loading... </p>
</ngx-spinner>