<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" key="t-menu">Super Admin Menu</li>
                <ng-container *ngIf="Role=='admin'">
                    <li>
                        <a href="#" class="waves-effect" routerLink="/">
                            <i class="bx bx-home-circle"></i><span class="badge rounded-pill bg-info float-end">04</span>
                            <span key="t-dashboards">Dashboards</span>
                        </a>
                    </li>
                    <li >
                        <a href="javascript: void(0);" class="waves-effect" routerLink="/ocr">
                            <i class="bx bx-tone"></i><span class="badge rounded-pill bg-info float-end"></span>
                            <span key="t-dashboards"> OCR</span>
                        </a>
                    </li>
                    <!-- <li>
                        <a href="javascript: void(0);" class="waves-effect" routerLink="/menu/submenulist">
                            <i class="bx bx-tone"></i><span class="badge rounded-pill bg-info float-end"></span>
                            <span key="t-dashboards"> Sub Menu</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript: void(0);" class="waves-effect" routerLink="/organization/list">
                            <i class="bx bx-tone"></i><span class="badge rounded-pill bg-info float-end"></span>
                            <span key="t-dashboards"> Organization</span>
                        </a>
    
                    </li> -->
                </ng-container>
             

              
               
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->



<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->

<!-- end main content-->